{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/cats/show-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Show List</h1>
</section>

<section class="card-container">
  {% for show in shows %}
    <div class="card">
      <div class="card-content">
        <a href="/shows/{{ show.id }}">
          <h2 class="card-title">{{ show.title }}</h2>
        </a>
      </div>
    </div>
  {% endfor %}
</section>

{% endblock %}