{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/shows/show-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Show List</h1>
</section>

<section class="card-container">
  <ul class="card">
    {% for show in shows %}
      <li class="card-content">
        {% comment %} <a href="/shows/{{ show.id }}">
          <span class="card-title">Title: {{ show.title }}</span>
          <span class="card-category">Category: {{ show.category }}</span>
          <span class="card-user">Username: {{ show.user }}</span>
        </a> {% endcomment %}
      </li>
    {% endfor %}
  </ul>
</section>

{% endblock %}